/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/

:root {
  --first-color: #D8C3A5;
  --second-color: #8E8D8A;
}

/*===== Fuente y tipografia =====*/

:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* linkedin recommendations */
.pv-recommendation-entity:first-child {
  padding-top: 0;
  border-top: none;
}
.pv-recommendation-entity {
  margin: auto;
  display: flex;
  border-top: 1px solid #e6e9ec;
  padding: 16px 0;
  align-items: center;
}
div#nav-menu {
  margin-top: 15px;
}
.proj{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* image settings */
.pv-recommendation-entity img {
border-radius: 50%
}

.pv-recommendation-entity__header {
  width: 33%;
}

.pv-recommendation-entity__highlights {
  width: 66%;
  padding-left: 16px;
}

.pv-profile-wrapper a:visited {
  color: #fff;
}
.pv-profile-wrapper a {
  text-decoration: none;
}

.pv-recommendation-entity__member {
  display: block;
  overflow: auto;
  text-decoration: none;
}

a.pv-recommendation-entity__member {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-bottom: 0px #fff;
}

/* name of recommending */
.t-16 {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 1.33333;
}

/* title of recommending */
.t-14 {
  font-size: 1.0rem;
  line-height: 1.42857;
}

/* date and relationship */
.t-12 {
  font-size: 1rem;
  line-height: 1.33333;
}

/* more text styles */
.t-black {
  color: rgba(0,0,0,.9);
}
.t-bold {
  font-weight: 600;
}
.t-normal {
  font-weight: 400;
}
.t-black--light {
  color: rgba(0,0,0,.6);
}

/* sizing of recommendation text */
blockquote {
  font-size: 1rem;
  line-height: 1.3333;
  font-weight: 200;
  color: rgba(0,0,0,.75);
  margin: 0 0 0rem;
}
blockquote, q {
  quotes: none;
}
/*===== Margenes =====*/

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

.fun {
  color: #4b494b;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

/*===== z index =====*/

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

h3 {
  font-family: 'Caveat', cursive;
  color: #8E8D8A;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  color: #fff !important;
  text-shadow:
    0 0 10px #db88fc,
    0 0 20px #db88fc,
    0 0 30px #db88fc,
    0 0 40px #db88fc,
    0 0 50px #d05dfe;
  animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow:
      0 0 8px #fff,
      0 0 18px #db88fc,
      0 0 28px #db88fc,
      0 0 36px #db88fc,
      0 0 48px #db88fc;
  }
  
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 12px #db88fc,
      0 0 18px #db88fc,
      0 0 24px #db88fc,
      0 0 30px #db88fc;
  }
}

ul {
  margin: 0;
  padding: 0 2rem !important;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover{
  color: white !important;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(116, 112, 112, 0);
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  /* background-color: var(--first-color); */
}

/*=== Show menu ===*/

.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

.self {
  border-radius: 50%;
}

/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border:none;

}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.skills_pic i{
  margin: 30px;
  font-size: 45px;
}
.skills_pic{
  margin: 92px;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}


.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__htmlcss {
  width: 95%;
}

.skills__python {
  width: 80%;
}

.skills__js {
  width: 85%;
}
.card-img, .card-img-top {
  height: 349px;
}

.row {
  justify-content: center;
}
.card {
  margin: 10px !important;
}
.flex_about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__other {
  width: 80%;
}

.skills__img {
  border-radius: .5rem;
}

/* ===== WORK =====*/

.work__container {
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.demo{
width: 800px;
box-shadow: 10px 10px 5px #dd92ec;
}

.work__img:hover{
  transform: scale(1.03);
}


.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img{
  transition: 1s;
  cursor: pointer;
}

#carouselExampleControls{
  position: relative;
  top:15px;
}
/* ===== CONTACT =====*/

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.justify-content-center{
  max-height: 78px !important;
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 457px;
    bottom: 15%;
  }
  .about__container, .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .contact__form {
    width: 360px;
  }
  .contact__container {
    justify-items: center;
  }

  body {
    background: url("https://images.unsplash.com/photo-1580123071152-670e4148f49b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fG5hdHVyZXxlbnwwfHwwfGJsYWNrX2FuZF93aGl0ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") fixed;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media screen and (min-width: 360px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    right: 10%;
  }
}
